.markdown-body {
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
}

.markdown-body blockquote, 
.markdown-body details, 
.markdown-body dl, 
.markdown-body ol, 
.markdown-body p, 
.markdown-body pre, 
.markdown-body table, 
.markdown-body ul {
    margin-top: 0;
    margin-bottom: 16px;
}

.markdown-body h1, .markdown-body h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eaecef;
    font-weight: 500;
}

.markdown-body img {
    max-width: 100%;
    box-sizing: initial;
    background-color: #fff;
}

.markdown-body code, .markdown-body tt {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35, 0.5);
    color:rgba(255,255, 255, 0.9);
    border-radius: 6px;
}

.markdown-body .codebox {
    font-family: Consolas, Monaco, monospace;
    border-radius: .3em;
}

.markdown-body ol, .markdown-body ul {
    padding-left: 2em;
}

.markdown-body a {
    color: #0366d6;
    text-decoration: none;
}

.markdown-body a:hover {
    color: #0366d6;
    text-decoration: underline;
}